<?php

/* Adapt host, database, charset, username & password */
$host = 'localhost';
$database = 'f1db';
$charset = 'utf8mb4';
$user = 'username';
$password = 'password';

$dsn = 'mysql:host=' . $host . ';dbname=' . $database . ';charset=' . $charset;

$conn = new PDO($dsn, $user, $password)
    or die('Cannot connect to database!');
